* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.header {
    color: white;
    background-color: #1F2937;
}

.headertop {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    padding: 10px;
}

.Logo {
    font-size: 24px;
    color: #F9FAF8
}

ul {
    display: flex;
    list-style: none;
    gap: 10px
}

a {
    text-decoration: none;
    color: white;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    max-width: 440px;
}

.titlesub {
    font-size: 18px;
    color: #E5E7EB;
    max-width: 440px;
}

.headerbody {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    gap: 50px;
}

.hbleft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}

.hbright {
    flex: 1;
    display: flex;
    justify-content: center;
}

button {
    background-color: #3882F6;
    color: white;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-weight: bold;
    width: fit-content;
}

img {
    max-height: 250px;
    margin-left: 44px;
    object-fit: cover;
}

.section {
    margin: 50px;
    text-align: center;
}

.h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 50px;
}

.boxes-container {
    color: #1F2937;
    font-size: 18px;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.box-image{
    width: 150px;
    height: 150px;
    border: 4px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.boxes-container > div{
    width: 150px;
    text-align: center;
}

.section2 {
    background-color: #E5E7EB;
    padding: 50px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    width: 700px;
    margin-bottom: 10px;
}

.quote-author {
    font-weight: bold;
    color: #1F2937;
    width: 700px;
    text-align: right;
}

.section3 {
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 24px;
    border-radius: 8px;
    padding: 40px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.sign-up-button {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 8px 32px;
    font-weight: bold;
    white-space: nowrap;
}